// Navigation code here
.nav-bg {
    background-color: @wild-sand;
    border-bottom: 5px solid @sea-shell;
}
.nav-h2 {
    .flex();
    justify-content: center;
    margin-bottom: 2%;
    font-size: 4em;
}


nav {
    .flex();
    justify-content: center;
    a {
        margin-right: 4%;
        text-decoration: none;
        color: black;
        font-size: 2em;
    }
    
}